.bg-slate {
  background-color: #5a53c4 !important;
}

.btn-slate {
  background-color: #5a53c4 !important;
  color: white !important;
}

.bg-light-slate {
  background-color: #d4d2fc !important;
}

.btn-outline-slate {
  border-color: #5a53c4 !important;
  color: #5a53c4 !important;
}

.btn-outline-slate:hover {
  background-color: #5a53c4 !important;
  color: white !important;
}

.text-slate {
  color: #5a53c4 !important;
}

.border-slate {
  border-color: #5a53c4 !important;
}
